%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{require_min_otp_vsn, "R21"}.

%warnings_as_errors, warn_untyped_record,
{erl_opts, [warn_export_all,
            warn_unused_import
            ]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

{validate_app_modules, true}.

%% {eunit_opts, [verbose]}.

{deps, []}.
